project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
    - "!/materials/resources"
  resources:
    - "materials/analysis_plan_template.qmd" 

website:
  title: "BIOL.7210 - Special Problems in Biology (Spring 2026)"
  navbar:
    search: false
    left:
      - href: syllabus.qmd
        text: Syllabus
      - href: schedule.qmd
        text: Schedule

format:
  html:
    theme: yeti
    toc: true


editor: visual

